*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style: none;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

html, body {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    max-width: 100%;
    /* margin: 0;
    padding: 0; */
}

.container {
    box-sizing: border-box;
    max-width: 100%;
}