@font-face {
    font-family: "CeraPro Regular";
    src: url('../fonts/CeraPro-Regular.ttf'), url('../fonts/CeraPro-Regular.eot');
}

@font-face {
    font-family: "CeraPro Medium";
    src: url('../fonts/CeraPro-Medium.ttf'), url('../fonts/CeraPro-Medium.eot');
}

@font-face {
    font-family: "CeraPro Bold";
    src: url('../fonts/CeraPro-Bold.ttf'), url('../fonts/CeraPro-Bold.eot');
}

@font-face {
    font-family: "CeraPro Black";
    src: url('../fonts/CeraPro-Black.ttf'), url('../fonts/CeraPro-Black.eot');
}

@font-face {
    font-family: "Hanged Letters";
    src: url('../fonts/Hanged\ Letters.ttf');
}


.container{
    width: 100%;
    margin: 0 auto;
    padding: 30px 120px 52px;
    box-sizing: border-box;
    transition: padding 0.3s ease-in-out;
}
.promo-card, .product-image, .hero, .blog-card {
    transition: all 0.3s ease-in-out; 
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: start;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list > li {
    position: relative;
}

.menu-list > li > a {
    text-decoration: none;
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 16px;
    display: inline-block;
    border-bottom: 3px solid transparent;
    padding: 8px 0 25px;
    transition: all 0.2s ease;
}

.menu-list > li > a:hover,
.menu-list > li.dropdown:hover > a {
    color: #46A358;
    border-bottom: 3px solid #46A358;
    font-family: "CeraPro Bold", sans-serif;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eaf0e8;
    list-style: none;
    margin: 0;
    min-width: 188px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    z-index: 100;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    font-size: 15px;
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    display: block;
    border-bottom: none;
    white-space: nowrap;
    padding: 9px 14px;
    transition: all 0.2s ease;
    position: relative;
}


.dropdown-menu > li:hover > a {
    color: #FFFFFF;
    background-color: #46A358;
}

.dropdown-menu > li:hover > a,
.next-menu > li:hover > a,
.next-dropdown:hover > a {
    color: #FFFFFF;
    background-color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
}

.next-dropdown {
    position: static;
}

.dropdown-menu .next-dropdown > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 9px 14px;
}

.next-dropdown .arrow-icon {
    position: static;
    transform: none;
}

.next-menu {
    display: none;
    position:absolute;
    top: 0; 
    left: 100%;
    background-color: #eaf0e8;
    list-style: none;
    margin: 0;
    min-width: 178px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
    z-index: 100;
    border-left: 2px solid transparent;
    background-clip: padding-box;
}

.next-dropdown-menu a {
    padding: 9px 14px;
    font-size: 15px;
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
}


.next-menu > li:hover > a {
    color: #FFFFFF;
    background-color: #46A358;
}

.next-dropdown:hover .next-menu {
    display: block;
}

.next-dropdown:hover > a {
    color: #FFFFFF;
    background-color: #46A358;
}

.next-dropdown .arrow-default { display: block; }
.next-dropdown .arrow-hover   { display: none; }

.next-dropdown:hover .arrow-default { display: none; }
.next-dropdown:hover .arrow-hover   { display: block; }


.headerBtn{
    font-family: "CeraPro Medium", sans-serif;
    border-radius: 6px;
    background: #46A358;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 17px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.headerBtn:hover {
    background-color: #f09732;

}


.hero{
    background-color: rgba(245, 245, 245, 0.5);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center; 
}

.hero-content {
    padding: 68px 42px 85px;
    display: flex;
    flex-direction: column;
}


.hero-subtitle{
    color: #3D3D3D;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    line-height: 16px;
    margin-bottom: 7px;

}

.hero-title{
    color: #3D3D3D;
    font-family: "CeraPro Black", sans-serif;
    font-size: 70px;
    line-height: 70px;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.hero-title span{
    color: #46A358;
}

.hero-description{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    width: 80%;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    margin-bottom: 44px;
}

.hero-btn{
    font-family: "CeraPro Medium", sans-serif;
    border-radius: 6px;
    background: #46A358;
    color: #fff;
    align-items: center;
    padding: 10px 26px;
    display: inline-flex;
    width: fit-content;
}

.hero-btn:hover {
    transform: scale(1.2);
}

.hero-image {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.hero-image-wrapper {
    position: relative; 
    display: flex;
}

.main-plant {
    align-self: stretch;
    flex-grow: 1;
    object-fit: contain;
    max-width: 100%;
}

.decor-plant {
    position: absolute;
    left: 55px;
    bottom: 17px;
}

.shop-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
    gap: 50px;
    margin-top: 171px; 
}


.categories{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    margin: 14px 18px 19px 18px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.category-list {
    list-style: none;
    padding-left: 30px;
    margin-top: 7px;

}

.category-item {
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 40px;
 
}

.category-item:hover {
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    border-bottom: none;
}


.sidebar{
    width: 100%;
    max-width: 310px;
    box-sizing: border-box;
}
.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.category-name,
.category-count {
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
    line-height: 40px;
    transition: color 0.3s ease, font-family 0.3s ease;
}


.category-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.category-link:hover .category-name,
.category-link:hover .category-count {
    color: #46A358;
}

.category-checkbox:checked ~ .category-name,
.category-checkbox:checked ~ .category-count {
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
}

.category-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    opacity: 0;
}


.price-filter {
    width: 100%;
    max-width: 250px;
    margin-top: 36px; 
    padding-left: 18px;
} 

.filter-title {
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 16px;
    margin-bottom: 20px;
}

.range-slider-wrapper {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: rgba(70, 163, 88, 0.20);
    border-radius: 5px;
    margin-bottom: 15px;
}

.slider-track {
    position: absolute;
    height: 100%;
    left: 0px;
    right: 44px;
    background-color: #46A358;
}

.slider-handle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.handle-left {
    left: 0px;
}

.handle-right {
    right: 44px;
}

.price-values {
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 16px;
    padding-left: 30px;
}

.price-range-text {
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 16px;
}

.filter-btn {
    color: #FFF;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    border-radius: 6px;
    background-color: #46A358;
    padding: 8px 25px;
    margin: 16px 30px 46px;
}

.filter-btn:hover {
    background-color: #e7712d;

}

.size-filter {
    padding: 0 18px 0 18px;
    width: 100%;
}

.filter-title-size {
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 16px;
    margin-bottom: 7px;
}

.size-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 30px;

}

.size-name, 
.size-count {
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
    line-height: 40px;
    transition: color 0.2s ease, font-family 0.2s ease;
}

.size-item:hover .size-name,
.size-item:hover .size-count {
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
}



.banner-img{
    display: block;
    object-fit: contain;
    width: 100%;
    margin-top: 19px;
}

.product-catalog{
    display: flex;
    flex-direction: column;
}


.catalog-header{
    display: flex;
    background: #FFF;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.tabs{
    display: flex;
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    gap: 37px;
    align-items: center;
}

.tabs span {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    white-space: nowrap;
}

.tabs span:hover {
    font-family: "CeraPro Bold", sans-serif;
    color: #46A358;
    border-bottom: 2px solid #46A358;
}

.sort {
    display: flex;
    gap: 5px;
    white-space: nowrap;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
    color: #3D3D3D;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sort:hover {
    transform: scale(1.03);
    color: #c28121;
}

.sort-select{
    gap: 5px;
    display: flex;
    align-items: center;
}

.sort-select:hover svg {
    transform: scale(1.03);
    fill: #c28121;
}

.product-grid{
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 76px 33px;
    margin-bottom: 90px;   
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    width: calc((100% - (33px * 2)) / 3);      
}

.product-image{
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 12px;
    position: relative;
    border-top: 2px solid transparent; 
    transition: border-color 0.3s ease-in-out;
    width: 100%;
    height: 280px;
}

.product-card:hover .product-image {
    border-top: 2px solid #46A358;
}

.product-card .product-image img {
    padding: 25px 4px;
    box-sizing: border-box;
    object-fit: contain;
    width: auto;
    max-width: 100%;
    height: 100%;

}

.product-title{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
}

.product-price{
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 16px;
    padding-top: 6px;
    margin-top: auto;
}

.product-actions {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    display: flex;
    opacity: 0;
    gap: 26px;
    padding: 7px 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.product-card:hover .product-actions {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.action-btn {
    border-radius: 4px;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3D3D3D;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    overflow: visible;
    min-width: 34px;
    min-height: 34px;
    padding: 5px;
}

.action-btn svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.action-btn:hover {
    color: #46A358;
}

.discount-badge {
    position: absolute;
    top: 12px;
    left: 0;
    background-color: #46A358;
    color: #FFFFFF;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 16px;
    padding: 6px 8px;
}

.old-price{
    color: #A5A5A5;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 16px;
    text-decoration: line-through; 
    margin-left: 16px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 80px;
    box-sizing: border-box;
}

.page-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3D3D3D;
    font-family: "CeraPro Light", sans-serif;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    padding: 8px;
    background-color: transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.page-item:hover {
    background-color: #46A358;
    border-color: #46A358;
    color: #FFFFFF;

}

  .promo-banners {
  display: flex;
  gap: 28px;
  margin-top: 100px;
  box-sizing: border-box;
} 



.promo-card {
  flex: 1;
  min-width: 340px;
  background-color: #FBFBFB;
  display: flex;
  justify-content: flex-end;
  padding: 40px 30px 46px;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}


.promo-card img {
  position: absolute;
  left: -35px;
  top: -45px;
  z-index: 1;
  
  height: 290px;
  width: auto;
  object-fit: contain;
}

.promo-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  max-width: 55%;
  z-index: 0;
  position: relative;
} 

.promo-title { font-family: "CeraPro Black", sans-serif; font-size: 18px; line-height: 24px; text-transform: uppercase; margin-bottom: 9px; }
.promo-text { font-family: "CeraPro Regular", sans-serif; font-size: 14px; color: #727272; line-height: 24px; margin-bottom: 25px; max-width: 100%; }


.promo-btn {
    border-radius: 6px;
    background: #46A358;
    padding: 10px 28px;
    color: #FFF;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    gap: 5px;
    margin-top: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}
    

.promo-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 15px rgba(70, 163, 88, 0.3);
    background: #3b8b4c;
}

.promo-banners .promo-btn svg {
    vertical-align: middle;
    display: inline-block;
}

.blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 35px;
    margin-top: 138px;
    height: auto;
}

.blog-main-title {
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 30px;
    font-style: normal;
    margin-bottom: 15px;
}

.blog-subtitle {
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}

.blog-grid {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 44px;
    align-items: stretch;
}

.blog-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    background: #FBFBFB;
}

.blog-img-plant {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-img-plant img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blog-content {
    padding: 9px 11px 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-grow: 1; 
}

.blog-meta {
    color: #46A358;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 16px;
    margin-bottom: 4px;
}



.blog-post-title {
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
    width: 100%;
}

.blog-post-excerpt {
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
    flex-grow: 1;
    visibility: visible;
}




.blog-reade-more {
    color: #3D3D3D;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    padding-bottom: 12px;
    transition: color 0.3s ease, transform 0.3s ease;
    align-self: flex-start;
    margin-top: auto; 
}




.blog-card:hover .blog-reade-more{
    color: #46A358;
    transform: scale(1.08);
}

.blog-reade-more svg {
    vertical-align: middle;
    display: inline-block;
}

.blog-reade-more svg path {
    fill: currentColor;
}

.main-footer {
    margin-top: 91px;
    background-color: #FBFBFB;;
}

.footer-top {
    display: flex;
    align-items: flex-start;
    padding: 37px 25px 25px;
    width: 100%;
}


.footer-features {
    display: flex;
    flex: 2;
    gap: 60px;
}

.feature-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0%;
    max-width: 204px;
    position: relative;
}


.feature-card:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 31px;      
    bottom: 0;
    right: -30px;  
    width: 1px;
    background-color: rgba(70, 163, 88, 0.10);
}

.feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.feature-title {
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 17px;
    font-style: normal;
    line-height: 16px;
    padding-bottom: 10px;
}

.feature-text {
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 21px;
}

.footer-subscribe {
    flex: 1;
    margin-left: 60px;
} 

.subscribe-title {
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 16px;
    margin-bottom: 25px;
}

.subscribe-form {
    display: flex;
    width: 100%;
    margin-bottom: 18px;
    border-radius: 6px;
    background-color: #FFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
}

.subscribe-input {
    flex-grow: 1;
    padding: 12px 11px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 6px 0 0 6px;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    color: #ACACAC;
    outline: none;
}

.subscribe-btn {
    
    padding: 12px 25px;   
    background-color: #46A358;
    color: #FFFFFF;
    border: none;
    border-radius: 0 6px 6px 0;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color 0.2s ease, color 0.2s ease, outline 0.2s ease;
    outline: 2px solid transparent;
 
}

.subscribe-btn:hover {
    background-color: #dfe22b;
    color: #18183f;
    border: 2px #18183f;
    outline: 2px solid #8a2be2; 
}


.subscribe-text {
    font-family: "CeraPro Regular", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #727272;
}
.footer-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    padding: 25px 23px 19px 23px;
    box-sizing: border-box;
    width: 100%;
}

.footer-logo {
    display: flex;
    align-items: center;
    flex: 0 0 auto; 
    min-width: 150px;
    max-width: 150px;
    margin-right: 0; 
}

.footer-logo img {
    width: 100%;
    height: auto;
    display: block;
}

.footer-contacts {
    display: flex;
    align-items: center;
    gap: 125px; 
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    line-height: 22px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0; 
    width: auto;
}

.footer-contacts .contact-item:nth-child(1) span {
    display: inline-block;
    width: auto;
    max-width: none;
    white-space: normal;
    line-height: 18px;
    font-size: 14px;
}

.footer-contacts .contact-item:nth-child(2) span,
.footer-contacts .contact-item:nth-child(3) span {
    font-size: 14px;
    white-space: nowrap; 
    line-height: 16px;
}

.footer-contacts .contact-item:nth-child(3) span {
    padding-right: 22px;
}


.contact-item svg {
    flex-shrink: 0;
    min-width: 20px;
}

.footer-bottom-links {
    display: flex;
    justify-content: space-between;
    padding: 33px 155px 29px 25px;
}

.links-column {
    display: flex;
    flex-direction: column;
    flex: 0 0 22%;
    width: 22%;
}

.links-column h4 {
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    margin-bottom: 10px; 
}

.links-column ul {
    list-style: none;
    display: flex;
    flex-direction: column;

}

.links-column ul li a {
    color: #3D3D3D;
    text-decoration: none;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    line-height: 30px; 
}

.links-column ul li a:hover {
  color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    border-bottom: none;
}


.social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 33px;
}

.social-icons button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    min-width: 30px;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
    background-color: transparent;
}

.social-icons button svg {
    transition: fill 0.3s ease, fill-opacity 0.3s ease;
}

.social-icons button:hover {
    background-color: #46A358;
    border-color: #46A358;
    transform: scale(1.15);
}

.social-icons button:hover svg {
    fill: #ffffff;
    stroke: #ffffff;
}

.payment-icons img {
    display: block;
    max-width: 100%;
    height: auto;
}

.payment-icons:hover {
    transform: scale(1.03);
}


.footer-copyright {
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(70, 163, 88, 0.20);
    text-align: center;
    padding-top: 7px;
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 30px;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    animation: fadeOutLoader 0.5s ease 3s forwards;
}

.custom-loader {
    max-width: 130px;
    max-height: 130px;
}


@keyframes fadeOutLoader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}





@media (max-width: 1340px) {
     .footer-contacts {
    gap: 75px;
   }
}



@media (max-width: 1200px) {
    .custom-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .container {
        padding: 60px 80px;
    }

    .blog-post-excerpt {
    font-size: 12px;
   }

    .blog-header {
    margin-top: 70px;
   }

    .pagination {
    margin-bottom: 50px;
   }

   .shop-container {
    margin-top: 100px;
   }

   .main-footer{
    margin-top: 40px;
   }

   .footer-contacts {
    gap: 75px;
   }
   .decor-plant {
    position: absolute;
    left: 25px;
    }

}

@media (max-width: 1040px) {
    .custom-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .decor-plant {
    position: absolute;
    left: 25px;
    }

    .container {
    padding: 60px 50px;
    }

    .blog-grid {
    gap: 35px;
    }

    .blog-post-title {
        font-size: 17px;
        line-height: 24px;
    }

    .blog-meta {
        font-size: 11px;
    }

    .blog-post-excerpt {
        font-size: 11px;
    }

    .product-grid {
        margin-bottom: 70px;
        gap: 50px 33px;
    }
                    
    .blog-header {
        margin-top: 60px;
    }

    .shop-container{
        margin-top: 60px;
    }


    .footer-logo {
        margin-right: 70px;
    }

    
    .pagination {
        margin-bottom: 50px;
    }

     .footer-contacts {
    gap: 50px;
   }

}

@media (max-width: 992px) {

    .decor-plant {
        left: 20px;
    }

    .product-card .product-image img {
    padding: 10px 4px;
    }
   
    .product-image {
        max-height: 250px;

    }

    .subscribe-input {
            font-size: 12px;
    }


    .blog-content {
    padding: 9px 9px 15px;
    }

    .hero-title {
        font-size: 50px;
            line-height: 60px;
    }

    .blog-post-title {
        font-size: 15px;
        line-height: 20px;
    }
    .blog-post-excerpt {
        font-size: 11px;
        line-height: 16px;
    }


    .footer-logo {
        margin-right: 20px;
    }
     .footer-contacts {
    gap: 30px;
   }
}


@media (max-width: 920px) {
    .category-list {
    padding-left: 15px;
    margin-top: 7px;
    }

    .hero-content {
        padding: 40px;
    }
        .category-name {
        font-size: 13px;
        line-height: 25px;
    }

    .category-count {
        font-size: 13px;
        line-height: 25px;
    }

    .size-name {
        font-size: 13px;
        line-height: 25px;
    }

    .size-count {
        font-size: 13px;
        line-height: 25px;
    }

    .size-item {
    padding-left: 15px;

    }
    .category-name, .category-count {
        line-height: 38px;
    }
    .size-name, .size-count {
        font-size: 14px;
        line-height: 30px;
    }

    .blog-post-title {
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    margin-bottom: 4px;
    width: 100%;
    }
    .blog-post-excerpt {
  
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 9px;
    }

    .blog-grid {
    gap: 30px;
    }
    .subscribe-input {
    font-size: 11px;
    }


   
    .contact-item span {
    font-size: 10px;
    }


    .blog-post-title {
        font-size: 15px;
        line-height: 20px;
    }
    .blog-post-excerpt {
        font-size: 12px;
        line-height: 18px;
    }

      .promo-btn {
    padding: 10px 18px;
    font-size: 14px;
    line-height: 20px;
    gap: 5px;
    margin-top: 0;
      }
     .footer-contacts {
    gap: 20px;
   }

   .footer-contacts .contact-item:nth-child(1) span, 
    .footer-contacts .contact-item:nth-child(2) span,
    .footer-contacts .contact-item:nth-child(3) span {
        font-size: 13px;
    }

     .promo-banners {
        flex-wrap: wrap; 
        justify-content: center;
        gap: 20px;
        padding: 0 15px;
        box-sizing: border-box;
        margin-top: 50px;
    }

    .promo-card {
        flex: 1 1 calc(50% - 20px); 
        min-width: 280px;
        max-width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    .promo-card img {
        display: block;
        width: 70%;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        position: absolute;
        left: -25px;
        top: -15px;
        z-index: 1;
    }
    
   
}


 @media (max-width: 820px) {
    .container {
        padding: 40px 30px;
    }

    .footer-contacts .contact-item:nth-child(1) span, 
    .footer-contacts .contact-item:nth-child(2) span,
    .footer-contacts .contact-item:nth-child(3) span {
        font-size: 12px;
    }
    .decor-plant {
    position: absolute;
    left: 10px;
    bottom: 10px;
    }
     .product-image {
        max-height: 200px;
    }
    .sort {
    font-size: 13px;
    }

    .tabs {
    gap: 25px;
    font-size: 13px;
    }
        .product-grid {
        margin-bottom: 70px;
        gap: 30px 33px;
    }
    .price-values {
        font-size: 12px;
    }
    .price-filter {
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    }

    .product-title {
        font-size: 14px;
    }

    .product-price {
        font-size: 14px;
    }

    .old-price {
        font-size: 14px;
    }
    .promo-title {
        font-size: 16px;
    }
    .category-item {
    font-size: 11px;
    line-height: 30px;
    }

}
@media (max-width: 768px) {

    .shop-container {
        gap: 35px;
    }

    .container {
        padding: 40px 15px;
    }

   .sidebar {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
   }
   .product-actions {
    gap: 10px;
   }

    .footer-contacts {
        gap: 10px;
    }

    .footer-contacts .contact-item:nth-child(1) span, 
    .footer-contacts .contact-item:nth-child(2) span,
    .footer-contacts .contact-item:nth-child(3) span {
        font-size: 12px;
    }
    .footer-features {
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        gap: 15px;
    }

    .feature-card {
        flex: 1 1 calc(33.333% - 10px);
        max-width: 100%;
    }

    .footer-subscribe {
        width: 100%;
        max-width: 480px;
        margin-left: 0;
    
    }
    
    .subscribe-form {
        justify-content: center;
    }

    .decor-plant {
    position: absolute;
    left: 5px;
    bottom: 5px;
    }
     .menu-list {
        gap: 30px;
    }

    .menu-list > li > a {
        font-size: 14px;
    }

    .dropdown-menu {
    min-width: 140px;

    }

    .dropdown-menu a {
    font-size: 12px;
    padding: 6px 12px;
    }


    .next-menu {
        min-width: 140px;
    }

    .next-dropdown-menu a {
        padding: 9px 12px;
        font-size: 12px;
    }

    .category-item {

    font-size: 10px;
    line-height: 30px;
    }
    .filter-btn {
    font-size: 16px;
    line-height: 20px;
    border-radius: 6px;
    margin: 16px 30px;
}
    .product-image {
        max-height: 220px;
    }
    
    .product-title {
        font-size: 14px;
        line-height: 16px;
    }

    .product-price {
        font-size: 15px;
    }

    .old-price {
        font-size: 15px;
    }
    .promo-title {
        font-size: 15px;
    }

    .main-footer .footer-top {
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 40px;
        width: 100%;
    }

    .footer-features {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        gap: 20px;
    }

    .feature-card {
        flex: 1 1 calc(33.333% - 15px);
        max-width: 100%;
    }

    .feature-card::after {
        display: none;
    }

    .footer-subscribe {
        width: 100%;
        max-width: 460px;
        margin: 0 auto;
        text-align: center;
    }

    .subscribe-form {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main-footer .footer-middle,
    footer .footer-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 15px;
        height: auto;
    }

    .footer-logo {
        margin: 0;
    }

    .footer-contacts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px 30px;
        width: 100%;
    }

    .contact-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        white-space: nowrap;
    }
  
}

 @media (max-width: 680px) {

        .dropdown-menu {
        min-width: 110px;
        left: 30%;
    transform: translateX(-70%)
    }

    .next-dropdown {
        min-width: 110px;
    }


    .filter-btn {
        font-size: 16px;
        padding: 8px 20px;
        margin: 16px 20px;
    }
    .category-name {
        font-size: 11px;
        line-height: 25px;
    }

    .category-count {
        font-size: 11px;
        line-height: 25px;
    }

    .size-name {
        font-size: 11px;
        line-height: 25px;
    }

    .size-count {
        font-size: 11px;
        line-height: 25px;
    }

    .price-range-text {
        font-size: 12px;
    }
    .pagination {
        margin-bottom: 0;
    }

    .product-title {
        font-size: 14px;
        line-height: 16px;
    }

    .product-price, .old-price {
        font-size: 15px;
    } 
    .product-image {
        max-height: 200px;
    }

    .promo-content {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
    .promo-banners {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .promo-card {
        flex: 1 1 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .promo-card img {
        display: block;
        position: static;
        width: auto;
        max-width: 40%;
        height: 140px;
        object-fit: contain;
        margin: 0 15px 0 0;
    }

    .blog-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .blog-card {
        flex: 0 0 calc(50% - 10px);
        box-sizing: border-box;
    }
        .footer-bottom-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px 10px;
        padding: 20px 15px;
    }

    .links-column {
        flex: 1 1 calc(30% - 10px);
        width: auto;
    }

    .footer-bottom-links .links-column:last-child {
        flex: 0 0 100%; 
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }


    .footer-bottom-links .links-column:last-child ul, 
    .footer-bottom-links .links-column:last-child .social-media,
    .footer-bottom-links .links-column:last-child div { 
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 10px auto;
    }

    .headerBtn {
        gap: 4px;
        padding: 4px 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .header > svg {
        width: 120px; 
        height: auto;
        flex-shrink: 0; 
    }
    .discount-badge {
    font-size: 12px;
    padding: 6px;
}

}
@media (max-width: 580px) {

     .shop-container {
        flex-direction: column;
        gap: 30px;
    }

    .sidebar {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px 30px;
        width: 100%;
        max-width: 520px; 
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
    }
   .banner-img {
    grid-column: 1 / 3; 
    max-height: 250px;
    object-fit: contain;
    margin: 0 auto; 
    padding-top: 0;
}

    .categories {
        grid-column: 1;
        grid-row: span 2; 
    }

    .price-filter {
        grid-column: 2;
        grid-row: 1;
    }

    .size-filter {
        grid-column: 2;
        grid-row: 2;
    } 

    .category-link {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 100%; 
        box-sizing: border-box;
    }

     .sort {
    font-size: 13px;
    }

    .tabs {
    gap: 25px;
    font-size: 13px;
    }
    .blog-reade-more {
        font-size: 12px;
    }
        .footer-top {
        flex-direction: column;
        gap: 25px;
    }
    .footer-features {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .feature-card {
        max-width: 100%;
    }
    .feature-card:not(:last-child)::after {
        display: none; 
    }
    .footer-subscribe {
        margin-left: 0;
        width: 100%;
    }
     .footer-middle {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
    }
    .footer-logo {
        margin-right: 0;
    }
    .footer-contacts {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;
    }
    .contact-item {
        justify-content: center;
    }
     .product-grid {
    margin-bottom: 20px;
   }

    .headerBtn {
    gap: 4px;
    padding: 4px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .header > svg {
        width: 120px; 
        height: auto;
        flex-shrink: 0; 
    }
    .links-column h4 {
    font-size: 14px;
    margin-bottom: 10px;
    }

}


@media (max-width: 540px) {
    .shop-container {
        flex-direction: column;
        gap: 30px;
    }

    .container {
        padding: 20px 15px;
    }

    .menu-list {
        gap: 20px;
    }

    .menu-list > li > a {
        font-size: 12px;
    }

    .hero-content {
        padding: 20px 15px;
    }
    .hero-slide {
        flex-direction: column-reverse; 
        text-align: center;
        gap: 20px;
    }
    .decor-plant {
        position: absolute;
        left: -20px;
        bottom: 0px;
    }
    
    .hero-title {
        font-size: 24px;
        line-height: 28px;
    }

    .sidebar { 
        width: 100%;
    }

    .product-grid {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .promo-content {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .promo-banners {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 10px;
    }

    .promo-card {
        flex: 0 0 calc(50% - 15px); 
        display: block;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .promo-card img {
        display: block;
        width: 65%;
        height: auto;
        margin: 0 auto;
    }

    .blog-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }

    .blog-card {
        flex: 0 0 calc(50% - 8px); 
        box-sizing: border-box;
    }

    .pagination {
        margin-bottom: 10px;
    }

    .footer-logo {
        margin-right: 0;
    }
    .footer-contacts {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;
    }
    .contact-item {
        justify-content: center;
    }

    .footer-bottom-links {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;     
        gap: 25px 10px;      
        padding: 20px 15px;
    }

    .links-column {
        flex: 1 1 calc(30% - 10px); 
        width: auto;
    }


    .footer-bottom-links .links-column:last-child {
        flex: 0 0 100%; 
        width: 100%;
        text-align: center; 
        margin-top: 15px;
    }

    .footer-bottom-links .links-column:last-child ul, 
    .footer-bottom-links .links-column:last-child .social-media,
    .footer-bottom-links .links-column:last-child div { 
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 10px auto;
    }

    .headerBtn {
        gap: 4px;
        padding: 4px 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .header > svg {
        width: 120px; 
        height: auto;
        flex-shrink: 0; 
    }
}

@media (max-width: 460px) {
    .hero {
        display: flex;
        flex-direction: column; 
        align-items: center;    
        text-align: center;
        gap: 20px;
    }

    .hero-content {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .hero-description {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .hero-btn {
        margin: 0 auto; 
        display: block;
    }

    .hero-image img {
        margin: 0 auto; 
        display: block;
        max-width: 70%; 
        height: auto;
    }

    .container {
        padding: 30px 10px;
    }
    
    .decor-plant {
        left: 35px;
    }
    
    .menu-list {
        gap: 10px;
    }

    .menu-list > li > a {
        font-size: 10px;
    }

    .dropdown-menu {
        min-width: 80px;
    }

    .dropdown-menu a {
        padding: 7px;
        font-size: 10px;
    }

    .next-menu {
        min-width: 100px;
    }

    .next-dropdown-menu a {
        padding: 7px;
        font-size: 10px;
    }
    
    .header > svg {
        width: 120px; 
        height: auto;
        flex-shrink: 0; 
    }

    .headerBtn {
        gap: 4px;
        padding: 4px 10px;
    }

    .header .headerBtn svg[width="20"][height="20"] {
        width: 14px; 
        height: 14px;
    }
    
    .main .blog-grid {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

  .main .blog-card {
        width: 100%;
        max-width: 340px; 
        margin: 0 auto; 
    }

    .main .blog-img-plant img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

.main-footer .footer-features {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        gap: 30px;
        width: 100%;
    }

    .main-footer .feature-card {
        width: 100%;
        max-width: 100%; 
        text-align: left;
    }

    .footer-bottom-links {
        display: flex;
        flex-direction: column; 
        align-items: center;    
        text-align: center;     
        gap: 35px;              
        padding: 20px 10px;
    }

    .links-column {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
    }

    .links-column ul {
        padding: 0;
        margin: 15px 0 0 0;
        list-style: none;
    }

    .links-column ul li {
        margin-bottom: 12px;
    }

    .links-column h4 {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .sidebar {
        display: flex;
    }

    .sort {
        font-size: 11px;
    }
   .blog-grid, 
    .product-grid,
    .main .blog-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .blog-card,
    .product-card,
    .main .blog-card {
        flex: 1 1 100%;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .blog-img-plant img,
    .product-img img {
        width: 100%;
        height: auto;
        max-height: 220px;
        object-fit: cover;
    }

}

@media (max-width: 380px) {
    .container {
        padding: 30px 10px;
    }
    .decor-plant {
        left: 35px;
    }

    .menu-list {
        gap: 5px;
    }

    .menu-list > li > a {
        font-size: 10px;
    }
    
    .header > svg {
        width: 90px; 
        height: auto;
        flex-shrink: 0; 
    }
    
    .headerBtn {
        gap: 4px;
        padding: 4px 10px;
    }

    .header .headerBtn svg[width="20"][height="20"] {
        width: 12px; 
        height: 12px;
    }

    .subscribe-btn {
        padding: 6px 15px;
    }
}

@media (max-width: 320px) {
    .container {
        padding: 30px 5px;
    }
    .decor-plant {
        left: 35px;
    }

    .menu-list {
        gap: 5px;
    }

    .menu-list > li > a {
        font-size: 10px;
    }

    .header > svg {
        width: 65px; 
        height: auto;
        flex-shrink: 0; 
    }
        .dropdown-menu {
        min-width: 110px;
        left: 20%;
        transform: translateX(-80%);
    }

    .headerBtn {
        gap: 3px;
        padding: 3px 5px;
    }
    
    .header .headerBtn svg[width="20"][height="20"] {
        width: 10px; 
        height: 10px;
    }
}

@media (max-width: 280px) {
    .container {
        padding: 25px 5px;
    }
    .decor-plant {
        left: -25px;
    }

    .menu-list {
        gap: 5px;
    }

    .menu-list > li > a {
        font-size: 9px;
    }

    .header > svg {
        width: 65px; 
        height: auto;
        flex-shrink: 0; 
    }

    .headerBtn {
        gap: 3px;
        padding: 2px 5px;
    }

    .header .headerBtn svg[width="20"][height="20"] {
        width: 9px; 
        height: 9px;
    }
}